.inscription
{
margin-top:10% ;
margin-left: 70%;
margin-right: 50%;
width: 90%;
height: 70%;
background-color: greenyellow;
border:1px black solid;
box-shadow: 6px 6px 6px black;
border-radius: 10px;
margin: none;
}

.form-group
{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.form-control
{
    margin-left: 10%;
    margin-right: 10%;
}
